*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  overflow-x: hidden;
}

@font-face {
  font-family: 'urban-regular';
  src: url('assets/fonts/urbanist/Urbanist-Regular.ttf');
}

@font-face {
  font-family: 'urban-bold';
  src: url('assets/fonts/urbanist/Urbanist-Bold.ttf');
}

@font-face {
  font-family: 'urban-black';
  src: url('assets/fonts/urbanist/Urbanist-Black.ttf');
}

@font-face {
  font-family: 'urban-thin';
  src: url();
}

@font-face {
  font-family: 'urban-light';
  src: url('assets/fonts/urbanist/Urbanist-Light.ttf');
}

@font-face {
  font-family: 'urban-semibold';
  src: url('assets/fonts/urbanist/Urbanist-SemiBold.ttf');
}

@font-face {
  font-family: 'urban-medium';
  src: url('assets/fonts/urbanist/Urbanist-Medium.ttf');
}

@font-face {
  font-family: 'urban-italic';
  src: url('assets/fonts/urbanist/Urbanist-Italic.ttf');
}

/* FLEXBOX */

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-row-reverse{
  display: flex;
  flex-direction: row-reverse;
}

.inline-flex{
  display: inline-flex;
}

.flex-center{
  justify-content: center;
  align-items: center;
}

.flex-start{
  justify-content: start;
}

.flex-end{
  justify-content: end;
}

.self-start{
  align-self: start;
}

.self-end{
  align-self: end;
}

.self-center{
  align-self: center;
}

.flex-1{
  flex: 1;
}

/* --- */

/* SPACING */

.p-3{
  padding: 0.5rem;
}

.gap-3{
  gap: 0.5rem;
}

.mb-8{
  margin-bottom: 8rem;
}

/* --- */

/* FONTS */

.font-urban-reg{
  font-family: 'urban-regular';
}
.font-urban-bold{
  font-family: 'urban-bold';
}
.font-urban-semibold{
  font-family: 'urban-semibold';
}
.font-urban-black{
  font-family: 'urban-black';
}
.font-urban-medium{
  font-family: 'urban-medium';
}
.font-urban-italic{
  font-family: 'urban-italic';
}
.font-urban-thin{
  font-family: 'urban-thin';
}
.font-urban-light{
  font-family: 'urban-light';
}

/* --- */

.hidden{
  visibility: hidden;
}


img{
  display: block;
}

.album-wrapper{
  display: flex;
  gap: 10%;
  padding: 8%;
}

/* .cover-container{
  display: inline-flex;
} */

.album-cover{
  width: 55%;
  object-fit: cover;
  z-index: 1;
}

.album-container{
  gap: 1rem;
}

.heading{
  margin-bottom: 20px;
}

.heading h2{
  margin-bottom: 10px;
}

.song-container .song p:nth-child(2){
  margin-left: 10px;
}

.songs{
  gap: 0.7rem;
}

.progressbar-container{
  margin-top: 10px;
}

.play-icon{
  height: 20px;
  width: 20px;
  background-size: cover;
  background-image: url("assets/play.svg");
}

.pause-icon{
  height: 20px;
  width: 20px;
  background-size: cover;
  background-image: url("assets/pause.svg");
}

.progressbar-container{
  padding: 5px 0px;
  color: white;
}

input{
  width: 100%;
  display: block;
}

.vinyl {
  position: relative;
  margin-left: -20%;
  width: 55%;
  border-radius: 100%;
  background: linear-gradient(
        30deg,
        transparent 40%,
        rgba(42, 41, 40, 0.85) 40%
      )
      no-repeat 100% 0,
    linear-gradient(60deg, rgba(42, 41, 40, 0.85) 60%, transparent 60%)
      no-repeat 0 100%,
    repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
  background-size: 50% 100%, 100% 50%, 100% 100%;
}

.vinyl-spin{
  animation: vinyl-spin 5000ms infinite linear;
}


.vinyl:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); 
  border: solid 1px #d9a388;
  background-size: cover;
  width: 15%;
  height: 15%;
  /* background-image: inherit; */
  border-radius: 50%;
  content: "";
}



@keyframes vinyl-spin {
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}

.hero-background{
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assets/1ad53b0735b7102f919a86ac498a5fc5.jpg');
  background-position: center;
}

.hero-background > div h1{
  text-align: center;
  word-break: normal;
  font-size: 8.5rem;
  color: white;
  letter-spacing: 30px;
  word-spacing: 50px;
}

.about{
  padding: 5rem 8rem;
  background-color: #1c3420;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.about p{
  font-size: 1.5rem;
  line-height: 180%;
  text-align: center;
}

.about h1{
  margin-bottom: 1rem;
  font-size: 3rem;
}

@media all and (max-width: 1100px){
  .album-wrapper{
    padding: 5%;
  }

}

@media all and (max-width: 950px){
  .album-wrapper{
    flex-direction: column;
    gap: 3rem;
    padding: 10%;
  }

  .cover-container{
    justify-content: center;
  }
}

@media all and (max-width: 375px){
  .album-container h2{
    font-size: 21px;
  }
  .album-container p{
    font-size: 13px;
  }

}

@media all and (max-width: 500px){
  .hero-background{
    height: 95vh;
  }
}

@media all and (max-width: 375px){
  .hero-background{
    height: 90vh;
  }
}

@media all and (max-width: 320px){
  .hero-background{
    height: 85vh;
  }
}